# Byte-compiled / optimized / C extensions
pycache/
*.py[cod]
*$py.class

#Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# Jupyter Notebook
.ipynb_checkpoints

# IDE / Editor specific
.idea/
.vscode/
*.swp

# Ignore large or sensitive data files (optional)
data/raw/
data/processed/

# macOS system files
.DS_Store

# JupyterLab workspace settings
.jupyter/lab/workspaces/
